@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --paleblue: hsl(225, 100%, 94%);
  --brightblue: hsl(245, 75%, 52%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
  --bg: #dfe8ff;
  --hover: #766cf1;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  background: var(--bg) url(images/pattern-background-desktop.svg) no-repeat;
  background-size: contain; /*unable to use it with the background property */
}

.flex {
  display: flex;
  flex-direction: column;
}

.image {
  border-radius: 20px 20px 0 0;
}

.container {
  width: 450px;
  height: 700px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 14px 15px hsla(245, 83%, 68%, 0.34);
}

.content {
  padding: 20px 60px 0 60px;
  text-align: center;
}

h1 {
  font-weight: 900;
}

p {
  font-weight: 300;
  margin-top: 0;
}

.font {
  color: var(--desaturatedBlue);
}

.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.pad {
  padding: 1em;
  background-color: var(--veryPaleBlue);
  border-radius: 10px;
}

.plan {
  padding-left: 20px;
}

a {
  font-weight: 700;
}

button {
  height: 50px;
  border: none;
  border-radius: 10px;
  margin: 1em 0;
  cursor: pointer;
  font-weight: 700;
}

.pay {
  background-color: var(--brightblue);
  color: white;
  box-shadow: 0 14px 10.6px hsla(245, 83%, 68%, 0.34);
}

/*✈️ Hover Effects */
a:hover {
  color: var(--hover);
  text-decoration: none;
}

.pay:hover {
  background-color: var(--hover);
}

.cancel:hover {
  color: black;
}

/* 👣 Footer */
.attribution {
  position: absolute;
  font-size: 11px;
  bottom: 0;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* 📱 Media Query */
@media only screen and (max-width: 375px) {
  html,
  body {
    background-image: url(images/pattern-background-mobile.svg);
  }

  .container {
    max-width: 330px;
    max-height: 570px;
  }

  h1 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }

  .content {
    padding: 20px 30px 0 30px;
  }

  .pad {
    padding: 14px;
  }

  button {
    font-size: 1em;
  }

  .pay {
    margin: 0;
  }
}
